.header {
    text-align: left;
    margin-left: 20px;
}

.trivia-form {
    text-align: left;
    margin-left: 20px;
}

.question-container {
    text-align: left;
    margin-bottom: 20px;
}

.answer-option {
    text-align: left;
    margin-top: 5px;
}

.progress {
    position: fixed; /* Fix the position */
    top: 5%; /* Align to the top of the viewport */
    left: 50%; /* Center horizontally */
    width: 45%; /* Full width */
    z-index: 1000; /* Ensure it's above other content */
}